.navbar {
    background: #8444c0;
}

.nav-link {
    margin-right: 1em;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-size: cover;
    background-position: center;
    position: relative;
}