.navbar {
    background: #6b359d
}

.nav-link {
    margin-right: 1em;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-size: cover;
    background-position: center;
    position: relative;
}

.description {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.description .display-1 {
    color: #6b359d;
}

.description p {
    color: black;
    font-size: 1.8rem;     
}

/* goes around everything on page */
.page-container {
    position: relative;
    min-height: 100vh;
}
  
/* bottom padding that is the height of the footer */
.content-wrap {
    padding-bottom: 12rem;    
}
  
/* footer sticks to the bottom and uses .content-wrap's padding-bottom height */
.footer {
    padding: 20px 0px 20px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12rem;            
    background-color: darkgray;
}

@media only screen and (max-width: 768px) {
    h1 {
        line-height: 1.1em;
    } 
    .description .display-1 {
        font-size: 4rem;
    }
    .description .display-4 {
        font-size: 2rem;
    }
    .description p {
        font-size: 1rem;
        line-height: 1em;
    }
} 