.description {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.description .display-1 {
    color: #6b359d;
}

.description p {
    color: black;
    font-size: 1.8rem;     
}

@media only screen and (max-width: 768px) {
    h1 {
        line-height: 1.1em;
    } 
    .description .display-1 {
        font-size: 4rem;
    }
    .description .display-4 {
        font-size: 2rem;
    }
    .description p {
        font-size: 1rem;
        line-height: 1em;
    }
} 