/* Title: Bootstrap Example of Custom Components
* Author: Bootstrap
* Availability: https://getbootstrap.com/docs/4.0/examples/product/ */

.container {
    max-width: 900px;
}
  
/* dummy devices */
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #8860ad;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
  
.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: #ddcfeb;
    border-radius: 5px;
}
  
.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #8a828d;
}

@media only screen and (max-width: 768px) {
    .display-2 {
        font-size: 4rem;
    }
} 