/* body {
    padding: 0;
    margin: 0
} */

.navbar {
    background: darkgray;
}

.nav-link, .navbar-brand {
    color: white;
}

.nav-link {
    margin-right: 1em;
}
  
.nav-link:hover {
    color: black;
}
  
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    /* background: rgba(226, 189, 209, 0.6) */
}

.description {
    position: absolute;
    left: 50%;  
    top: 50%;             
    /* define how much the element moves in each direction */
    transform: translate(-50%, -55%);   
    text-align: center;
}

.description h1 {
    color: black;
    font-weight: bold;
}

.description p {
    color: black;
    font-size: 1.1rem;     
}

.highlight {  
    margin: 2em auto;
    padding: 1em;
    position: relative;
}

.page-footer {
    background-color: darkgray;
    padding: 40px 0px 20px 0px;
}

.footer-copyright {
    color: #666;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    h1 {
        line-height: 1.1em;
    } 
    .description p {
        font-size: 1rem;
        line-height: 1em;
    }
} 