<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Friends">
  <meta name="author" content="Jasmin Li, Rebecca Zhou">

  <title>Friends</title>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

  <body>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-2">
      <div [ngClass]="'content'">
        <h1 class="display-4">Friends</h1>
        <hr />
        <br />
    
        <div class="row">
          <div class="col-sm-4">
            <h3>Pending Friend Requests</h3>
            <br />
    
            <div *ngFor="let item of pendingCards" class="card border border-purple" style="margin-bottom: 2rem;">
              <div class="card-header">
                <div class="row">
                  <div class="col-10">          
                    <h4>
                      {{ item.firstName }}
                      {{ item.lastName }}  
                      <button type="button" disabled name="pending" class="btn btn-purple btn-sm" data-toggle="Disabled tooltip" data-placement="bottom" title="Request Sent">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                      </button>
                    </h4>
                  </div>

                  <div class="col-2" style="text-align: right;">   
                    <form #moreInfoForm="ngForm" (ngSubmit)="onSubmit(item.friendEmail)"> 
                      <div class="form-group">
                        <button [ngStyle]="{border: 'white', outline: 'none'}"
                          type="submit" class="fas fa-info-circle fa-lg" style="color: green; cursor: pointer;" 
                          data-toggle="modal" data-target="#moreInfo"
                          >
                        </button>
                        <!-- <input name="friendEmail" id="friendEmail" value="{{ item.friendEmail }}" /> -->
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfoTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">
                                <p *ngIf="moreInfo.introduction" [(ngModel)]="moreInfo.email"> {{ moreInfo.email }} </p>
                                <p *ngIf="!moreInfo.introduction" > Currently no info :( </p>
                              </h5>

                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <table *ngIf="moreInfo.introduction" class="table">
                                <tbody>
                                    <tr>
                                      <td><em>Introduction</em></td>
                                      <td [(ngModel)]="moreInfo.introduction" name="introduction">{{ moreInfo.introduction }}</td>
                                    </tr>
                                    <tr>
                                      <td><em>Looking For</em></td>
                                      <td [(ngModel)]="moreInfo.lookingFor" name="lookingFor">{{ moreInfo.lookingFor }}</td>
                                    </tr>
                                    <tr>
                                      <td><em>Why You?</em></td>
                                      <td [(ngModel)]="moreInfo.whyYou" name="whyYou">{{ moreInfo.whyYou }}</td>
                                    </tr>
                                </tbody>
                              </table>
                              <p *ngIf="!moreInfo.introduction" > Come back later! </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>

              <div class="card-body">
                <h6 class="card-subtitle mb-2">Can speak: </h6>
                {{ item.natives }}
                <br />
                <br />

                <h6 class="card-subtitle mb-2 ">Wants to practice: </h6>
                {{ item.targets }}
                <br />

              </div>
            </div>    
          </div>

          <div class="col-sm-4">
            <h3>Incoming Friend Requests</h3>
            <br />
    
            <div *ngFor="let item of incomingCards" class="card border border-purple" style="margin-bottom: 2rem;">
              <div class="card-header">
                <div class="row">
                  <div class="col-10">
                    <form #acceptFriendForm="ngForm" (ngSubmit)="onAcceptFriend(item.email)" (click)="reloadPage()">
                      <div class="form-group">            
                        <h4>
                          {{ item.firstName }}
                          {{ item.lastName }}  
                          <!-- Add friend button -->
                          <button type="submit" name="acceptFriend" class="btn btn-purple btn-sm" data-toggle="tooltip" data-placement="bottom" title="Accept Friend Request">
                            <!-- https://icons.getbootstrap.com/icons/person-plus-fill/ -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                          </button>
                        </h4>
                      </div>
                    </form>
                  </div>

                  <div class="col-2" style="text-align: right;">   
                    <form #moreInfoForm="ngForm" (ngSubmit)="onSubmit(item.email)"> 
                      <div class="form-group">
                        <button [ngStyle]="{border: 'white', outline: 'none'}"
                          type="submit" class="fas fa-info-circle fa-lg" style="color: green; cursor: pointer;" 
                          data-toggle="modal" data-target="#moreInfo"
                          >
                        </button>
                        <!-- <input name="friendEmail" id="friendEmail" value="{{ item.friendEmail }}" /> -->
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfoTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">
                                <p *ngIf="moreInfo.introduction" [(ngModel)]="moreInfo.email"> {{ moreInfo.email }} </p>
                                <p *ngIf="!moreInfo.introduction" > Currently no info :( </p>
                              </h5>

                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <table *ngIf="moreInfo.introduction" class="table">
                                <tbody>
                                    <tr>
                                      <td><em>Introduction</em></td>
                                      <td [(ngModel)]="moreInfo.introduction" name="introduction">{{ moreInfo.introduction }}</td>
                                    </tr>
                                    <tr>
                                      <td><em>Looking For</em></td>
                                      <td [(ngModel)]="moreInfo.lookingFor" name="lookingFor">{{ moreInfo.lookingFor }}</td>
                                    </tr>
                                    <tr>
                                      <td><em>Why You?</em></td>
                                      <td [(ngModel)]="moreInfo.whyYou" name="whyYou">{{ moreInfo.whyYou }}</td>
                                    </tr>
                                </tbody>
                              </table>
                              <p *ngIf="!moreInfo.introduction" > Come back later! </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>

              <div class="card-body">
                <h6 class="card-subtitle mb-2">Can speak: </h6>
                {{ item.natives }}
                <br />
                <br />

                <h6 class="card-subtitle mb-2 ">Wants to practice: </h6>
                {{ item.targets }}
                <br />

              </div>
            </div>    
          </div>

          <div class="col-sm-4">
            <h3>Friends</h3>
            <br />
    
            <div *ngFor="let item of acceptedCards" class="card border border-purple" style="margin-bottom: 2rem;">
              <div class="card-header">
                <div class="row">
                  <div class="col-10">
                    <form #removeFriendForm="ngForm" (ngSubmit)="onRemoveFriend(item.cardEmail)" (click)="reloadPage()">
                      <div class="form-group">
                        <h4>
                          {{ item.firstName }}
                          {{ item.lastName }}  
                          <!-- Remove friend button -->
                          <button type="submit" name="removeFriend" class="btn btn-purple btn-sm" data-toggle="tooltip" data-placement="bottom" title="Remove Friend">
                            <!-- https://icons.getbootstrap.com/icons/person-dash-fill/ -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                          </button>
                        </h4>
                      </div>
                    </form>
                  </div>

                  <div class="col-2" style="text-align: right;">   
                    <form #moreInfoForm="ngForm" (ngSubmit)="onSubmit(item.cardEmail)"> 
                      <div class="form-group">
                        <button [ngStyle]="{border: 'white', outline: 'none'}"
                          type="submit" class="fas fa-info-circle fa-lg" style="color: green; cursor: pointer;" 
                          data-toggle="modal" data-target="#moreInfo"
                          >
                        </button>
                        <!-- <input name="friendEmail" id="friendEmail" value="{{ item.friendEmail }}" /> -->
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfoTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">
                                <p *ngIf="moreInfo.introduction" [(ngModel)]="moreInfo.email"> {{ moreInfo.email }} </p>
                                <p *ngIf="!moreInfo.introduction" > Currently no info :( </p>
                              </h5>

                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <table *ngIf="moreInfo.introduction" class="table">
                                <tbody>
                                    <tr>
                                      <td><em>Introduction</em></td>
                                      <td [(ngModel)]="moreInfo.introduction" name="introduction">{{ moreInfo.introduction }}</td>
                                    </tr>
                                    <tr>
                                      <td><em>Looking For</em></td>
                                      <td [(ngModel)]="moreInfo.lookingFor" name="lookingFor">{{ moreInfo.lookingFor }}</td>
                                    </tr>
                                    <tr>
                                      <td><em>Why You?</em></td>
                                      <td [(ngModel)]="moreInfo.whyYou" name="whyYou">{{ moreInfo.whyYou }}</td>
                                    </tr>
                                </tbody>
                              </table>
                              <p *ngIf="!moreInfo.introduction" > Come back later! </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>

              <div class="card-body">
                <h6 class="card-subtitle mb-2">Can speak: </h6>
                {{ item.natives }}
                <br />
                <br />

                <h6 class="card-subtitle mb-2 ">Wants to practice: </h6>
                {{ item.targets }}
                <br />

              </div>
            </div>    
          </div>
        </div>

      </div>
    </div>

  </body>
  
</html>
