<footer class="footer">
  <div class="container">
    <div class="row" style="background-color: darkgray;">
      <div class="col">
        <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
        <p>CS4640: Web Programming Languages </p>
      </div>
      <div class="col">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>Charlottesville, VA 22903 <br />jl6ww@virginia.edu<br />rmz6yx@virginia.edu</p>
        <p style="color: #666;">&copy; 2021 Copyright: Jasmin Li, Rebecca Zhou</p>
      </div>
    </div>
  </div>
</footer>