<!-- ***************************************************************************************/
* Title: Bootstrap source code
* Author: Mark Otto, Jacob Thornton
* Date: 2021
* Code version: 4.6.0
* Availability: https://getbootstrap.com/
***************************************************************************************/ -->

<footer class="footer">
  <div class="container">
    <div style="background-color: rgb(221, 219, 219);">
      <h6 class="text-uppercase font-weight-bold">Copyright</h6>
      <p style="color: #666;">&copy; 2021 Copyright: Jasmin Li (jl6ww@virginia.edu), Rebecca Zhou (rmz6yx@virginia.edu)
      </p>
    </div>
  </div>
</footer>