<!-- ***************************************************************************************/
* Title: Bootstrap source code
* Author: Mark Otto, Jacob Thornton
* Date: 2021
* Code version: 4.6.0
* Availability: https://getbootstrap.com/
***************************************************************************************/ -->

<header>
  <nav class="navbar navbar-expand-md bg-light navbar-light">
    <a class="navbar-brand" href="welcome.php" style="color: #6b359d;">
      LingoNet
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="signup.php" style="color: #6b359d;">Sign Up</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="login.php" style="color: #6b359d;">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>